###Tuple
- Immutable #cannot be changed
- using() elements are seperated by ,
- Indexed,Ordered
- Allows duplicate values
If changes are to be made, convert it into list, make changes, then again convert it back to a tuple.

In [0]:
#Tuple
tup1=(12,3,45.6,"abc",True)
print(type(tup1))

<class 'tuple'>

In [0]:
print(tup1[2])
print(tup1[-1])

45.6
True

In [0]:
list1=list(tup1)
list1[2]=100
tup1=tuple(list1)
tup1

(12, 3, 100, 'abc', True)

###Built-in methods
1. count()
2. index()

In [0]:
print(tup1.count(12))       #counts the occurences
print(tup1.index(12))

1
0

In [0]:
#unpacking
tup2=(23,56,234,5)
a,b,c,d=tup2
print(b)

56

In [0]:
#packing
x=10,20,30
print(x)
print(type(x))

(10, 20, 30)
<class 'tuple'>

###SET
1. {}
2. not ordered
3. unindexed
4. mutable
5. No duplicate values

In [0]:
se1={1,2,334,5,6,7,8}
print(se1)

{1, 2, 5, 6, 7, 8, 334}

In [0]:
for i in se1:
  print(i)

1
2
5
6
7
8
334

###Built-in functions
1. len()
2. min()
3. max()
4. set()

In [0]:
print(se1)
print(len(se1))
print(min(se1))
print(max(se1))

{1, 2, 5, 6, 7, 8, 334}
7
1
334

In [0]:
#Removing dupliactes from the list
list1=[1,2,3,4,5,1,2,3]
list1=set(list1)
list1

{1, 2, 3, 4, 5}

###Built-in Methods:
1. add()
###Removing elements
2. remove()
3. discard()
4. pop()
5. clear()

In [0]:
set2=set()
print(type(set2))

<class 'set'>

In [0]:
#Adding on element
set2.add(12)
set2.add(23)
set2.add(56)
set2

{12, 23, 56}

In [0]:
set2.pop()
set2

{12, 23}

In [0]:
set2.remove(12)    #gives an error if the element is not present in the set
set2

KeyError: ignored

In [0]:
set2.discard(12)          #no error if the element doesnt exist in the set
set2

{23}

In [0]:
set2.clear()
set2

set()

In [18]:
A={1,2,3,4,5}
B={3,4,5,6,7}
#UNION
print(A.union(B))
#A-B==>{1,2}
#B-A==>{6,7}
print(A.difference(B))
print(B.difference(A))
##Intersection a and b==>{3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [21]:
# subset,super set,disjoint
# symmetic difference
A={1,2,3,4,5}
B={3,4,5,6,7}
c={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(c))
print(A.issubset(B))
print(c.issuperset(A))
print(c.issuperset(B))

True
False
True
True

In [22]:
#Disjoint
x={1,2}
y={23,24,25}
print(A.isdisjoint(B))
print(x.isdisjoint(y))

False
True

In [23]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [24]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [25]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [26]:
A.symmetric_difference_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

###Dictionary
dictionary name={key1:value1,key2:value2,...}
- Rules for key:
    - keys should be unique
    - keys should be immutable(example:numerics,string,tuple)

In [27]:
#Creating a dictionary
dict1={"name":"megh","student id":"54","address":"hyd"}
print(dict1)

{'name': 'megh', 'student id': '54', 'address': 'hyd'}

In [28]:
#extracting an element
print(dict1["student id"])

54

In [0]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

In [30]:
#Adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'megh', 'student id': '54', 'address': 'hyd', 'course': 'python'}

###Built-in methods
1. keys()
2. values()
3. items()
4. get()
5. update()
6. pop()
7. popitem()

In [33]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'student id', 'address', 'course'])
dict_values(['megh', '54', 'hyd', 'python'])
dict_items([('name', 'megh'), ('student id', '54'), ('address', 'hyd'), ('course', 'python')])

In [32]:
#ectracting an element
print(dict1["name"])
print(dict1.get("name"))

megh
megh

In [34]:
#adding an entry
dict1["address"]="hyd"
dict1

{'address': 'hyd', 'course': 'python', 'name': 'megh', 'student id': '54'}

In [35]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'megh', 'student id': '54', 'address': 'hyd', 'course': 'python', 1: 1, 2: 2, 3: 3}

In [36]:
#removing an entry
#pop()
#popitem()

dict1.pop("name")
dict1

{1: 1, 2: 2, 3: 3, 'address': 'hyd', 'course': 'python', 'student id': '54'}

In [37]:
dict1.popitem()

(3, 3)

In [38]:
dict1

{1: 1, 2: 2, 'address': 'hyd', 'course': 'python', 'student id': '54'}