<a href="https://colab.research.google.com/github/SMeghanaa/DATA-SCIENCE/blob/master/28_05_2020(class).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Strings
Strings and String Built-in methods
we can create strings simply by enclosing characters in quotes. Python treats single quotes the same as double quotes.

In [0]:
var1='hello'
var2="python"
print(var1,var2)

hello python

####String Special Operators: +,*,[],[:],in,not in

In [41]:
s1='zzzzz'
s2="good afternoon"
print(s1+s2)  #add
print(s1*2)   #repition,samw word can be repeated
print(s1[4])   #slicing, deleted the first 4 letters
print(s1[-1])  #displays the letter in the revere order
 print(s2[2:]) #start:stop:length

zzzzzgood afternoon
zzzzzzzzzz
od afternoon
z
z

In [27]:
s3='python'
print('on' in s3)
print('on' not in s3)

True
False

#####Palindrome

In [43]:
s4=input('Enter a string')
if s4==s4[: :-1]:
  print("Its a palindrome")
else:
  print("Its not a palindrome")

Enter a stringmom
Its a palindrome

####String Built-in Functions: len(),min(),max(),str()

In [70]:
s='sTrawberry123'
s5='289'
print(len(s))
print(min(s))
print(max(s5))
print(str(s))

13
1
9
sTrawberry123

####String Built-in Methods : capitalize(),index(),isalpha(),isdigit(),isalnum(),isupper(),islower(),upper(),lower(),startswith(),find(),count(),replace(present,new,how-many)

In [73]:
#s=strawberry123
#s5=289
print(s.index('w'))
print(s.capitalize()) #capitalizes the first letter only, takes no arguments
print(s.isalpha())
print(s.isdigit())
print(s5.isalnum())
print(s5.isupper())
print(s.islower())
print(s.upper())
print(s.lower())

4
Strawberry123
False
False
True
False
False
STRAWBERRY123
strawberry123
3

In [82]:
print(s.find('y'))   #prints the first occurence index
print(s.startswith('s'))  #checks if the string starts with the given letter
print(s.count('r'))
print(s.replace('a','g'))

9
True
3
sTrgwberry123

In [90]:
s=input("Enter the string:")
p=int(input("Enter the position"))
print(s.replace(s[p-1],"",1))               #1 specifies how many letters have to be replaces

Enter the string:abcabc
Enter the position3
ababc

#### For Loop
We can use for loop in 2 different ways:
 - using range()
 - using iterable object
 
---
**Syntax:**
- for variable in range(start,stop,step):
    		Statements
---
- for variable in iterable-obj:
      statements

In [95]:
n=5
for i in range(0,5):
  print(i,end=" ")
print(i)

i=1
while i<n:
  i+=2
  print(i,end=" ")

0 1 2 3 4 4
3 5

In [107]:
s='hello'
for i in s:
  print(i,end=" ")
print("\n")
i=0
while i< len(s):
  print(s[i],end="  ")
  i+=1
print("\n")
for j in range(0,len(s)):
  print(s[j],end=" ")

h e l l o

h  e  l  l  o

h e l l o