###Question 1:
Accept a string from the user and count no.of vowels,consonants and special characters

In [0]:
s=input("Enter a string: ")
v,c,sc=0,0,0
s.lower()
for i in range(0,len(s)):
  if s[i]=='a' or s[i]=='e' or s[i]=='i' or s[i]=='o' or s[i]=='u' :
    v+=1
  elif s[i]>='a' and s[i]<='z':
    c+=1
  else:
    sc+=1
print("vowels:",v,"consonants:",c,"special character:",sc)

Enter a string: meghana
vowels: 3 consonants: 7 special character: 0

###Question 2:
count the no.of pairs of a in the given string(Infosys InfyTQ)
 - string →  "abbaaccbbaaa"
 - output →  2

In [0]:
s=input('enter string: ')
print(s.count('aa'))

enter string: abbaaccbbaaa
2

###Question 3:
    Test case1:
        string →  "((((()()()))))()"
        output →  8
    Test case2:
        string →  "((()))()"
        Output →  4

In [0]:
s=input('ENTER THE STRING: ')
l,r=0,0
for i in range(0,len(s)):
  if s[i]=='(':
    l+=1
  elif s[i]==')':
    r+=1
if l==r:
  print(l)

ENTER THE STRING: ((((()()()))))()
8

###Question 4:
Read the input as two limits and Print the output as Palindrome count between the two limits
- Example #1; Input : 1 10 Output : 9
-  Example #2: Input : 1 100 Output : 18

In [21]:
ll=int(input('LOWER LIMIT: '))
ul=int(input('UPPER LIMIT: '))
c=0
for i in range(ll,ul):
   rev,t=0,i
   while(i>0):
      num=i%10
      rev=rev*10+num
      i=i//10
   if(t==rev):
      c+=1
print(c)

LOWER LIMIT: 1
UPPER LIMIT: 10
9

###Question 5:

 Accept a number as an input and check whether the given number is palindrome or not
- if it is a palindrome number print the number on the screen
- if it is not a palindrome number reverse that number and add it to previous number repeat this until will get a palindrome number and print that palindrome number on the screen
input: 127
output: 848

In [29]:
def again(rev,t):
  n=rev+t
  palindrome(n)

def palindrome(n):
   rev=0
   t=n
   while(n>0):
      num=n%10
      rev=rev*10+num
      n=n//10
   if(t==rev):
        print(rev)
   else:
        again(rev,t)
n=int(input('enter a number: '))
palindrome(n)

enter a number: 147
888

###Question 6:
input:orange  →   output : puboif

In [32]:
s=input("enter string: ")
s=s.lower()
for i in range(0,len(s)):
  if s[i] in ('a','e','i','o','u','n'):
    print(chr(ord(s[i])+1),end="")
  elif s[i] in ('g'):
    print(chr(ord(s[i])+2),end="")
  else:
    print(chr(ord(s[i])+3),end="")

enter string: orange
puboif

###Question 7:
Accept input as a string and display sum of digits as the output 
- input:Appli123cation456 ---> Output: 21

In [37]:
n=input("enter string: ")
sum=0
for i in range(0,len(n)):
  if (n[i]>='1' and n[i]<='9'):
    sum+=int(n[i])
print(sum)

enter string: Appli123cation456
21

###Question 8:
Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade
- >= 0.9 A
- >= 0.8 B
- >= 0.7 C
- >= 0.6 D
- < 0.6 F
If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85

In [41]:
n=float(input("enter your score: "))
if n>=0.0 and n<=1.0:
  if n>0.9:
    print('A')
  elif n>0.8:
    print('B')
  elif n>0.7:
    print('C')
  elif n>0.6:
    print('D')
  elif n<0.6:
    print('F')
  else:
    print("INVALID SCORE!")

enter your score: 0.85
B

###Question 9:
Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [45]:
for i in range(1,51):
  if i%3==0 and i%5==0:
    print("FizzBuzz",end="\n")
  elif i%3==0:
    print("Fizz")
  elif i%5==0:
    print("Buzz")
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

###Question 10:
Write a Python program to find the median of three values.
- Expected Output:
- Input first number: 26                                            
- Input second number: 15                                                
- Input third number: 29                                                  
The median is 26

In [61]:
x = [int(x) for x in input("Enter the three numbers: ").split(" ")] 
x.sort()
print("Median:",x[1])

#Or

x=int(input('ENTER 1ST NUMBER: '))
y=int(input('ENTER 2ND NUMBER: '))
z=int(input('ENTER 3RD NUMBER: '))
if x>y and x<z:
  print("Median:",x)
elif y>x and y<z:
  print("Median:",y)
elif z>x and z<y:
  print("Median:",z)

Enter the three numbers: 13 17 15
Median: 15
ENTER 1ST NUMBER: 13
ENTER 2ND NUMBER: 17
ENTER 3RD NUMBER: 15
Median: 15