<a href="https://colab.research.google.com/github/SMeghanaa/DATA-SCIENCE/blob/master/Assignment9(5-06-2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

####Question 1:
[Data Series] 
####Write a Python program to add, subtract, multiple and divide two Pandas Series. 
- Sample Series: 
[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
- Sample Output:
[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [3, 7, 11, 15, 19]

In [2]:
d1=pd.Series([2, 4, 6, 8, 10])
d2=pd.Series([1, 3, 5, 7, 9])
print(d1,d2)
ds=d1.add(d2)
print("ADDITION OF SERIES:\n",list(d1),"+",list(d2),"=",list(ds))
ds=d1.sub(d2)
print("SUBTRACTION OF SERIES:\n",list(d1),"-",list(d2),"=",list(ds))
ds=d1.mul(d2)
print("MULTIPLICATION OF SERIES:\n",list(d1),"*",list(d2),"=",list(ds))
ds=d1.div(d2)
print("DIVISION OF SERIES:\n",list(d1),"/",list(d2),"=",list(ds.round(2)))

0     2
1     4
2     6
3     8
4    10
dtype: int64 0    1
1    3
2    5
3    7
4    9
dtype: int64
ADDITION OF SERIES:
 [2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [3, 7, 11, 15, 19]
SUBTRACTION OF SERIES:
 [2, 4, 6, 8, 10] - [1, 3, 5, 7, 9] = [1, 1, 1, 1, 1]
MULTIPLICATION OF SERIES:
 [2, 4, 6, 8, 10] * [1, 3, 5, 7, 9] = [2, 12, 30, 56, 90]
DIVISION OF SERIES:
 [2, 4, 6, 8, 10] / [1, 3, 5, 7, 9] = [2.0, 1.33, 1.2, 1.14, 1.11]

###Question 2:
[Quartiles] 
####Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 
Sample Output:
####Original Series:
0 3.000938

1 11.370722

2 14.612143

3 8.990256

4 13.925283

5 12.056875

.... 17 14.118931

18 8.247458

19 5.526727

dtype: float64
- Minimum, 25th percentile, median, 75th, and maximum of a given series:

[ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]

In [3]:
state= np.random.RandomState(100)
num = pd.Series(state.normal(10, 4, 20))
print("Original Series:")
print(num)
res= np.percentile(num, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(res.round(3))

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.001  8.095 10.234 12.215 14.612]

###Question 3:
[List Difference] 
####Write a Pandas program to get the items of a given series not present in another given series. 
Sample Output:
- Original Series:

sr1:

0 1

1 2

2 3

3 4

4 5

dtype: int64

sr2:

0 2

1 4

2 6

3 8

4 10

dtype: int64

Items of sr1 not present in sr2:

0 1

2 3

4 5

dtype: int64

In [4]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("s1:")
print(s1)
print("s2:")
print(s2)
print("\nItems of series 1 not present in series 2:")
result = s1[~s1.isin(s2)]
print(result)

Original Series:
s1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
s2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of series 1 not present in series 2:
0    1
2    3
4    5
dtype: int64

### Question 4:
[Filter Words with Multiple Vowels] 
####Write a Pandas program to filter words from a given series that contain at least two vowels. 
Sample Output:
- Original Series:
0 Red
1 Green
2 Orange
3 Pink
4 Yellow
5 White
dtype: object

- Filtered words:
1 Green
2 Orange
4 Yellow
5 White
dtype: object

In [5]:
from collections import Counter
colors = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(colors)
print("\nFiltered words:")
result = mask = colors.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(colors[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

#### Question 5:
Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.

In [6]:
data = {'Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'Score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'Attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'Qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
label = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
data = pd.DataFrame(data,index=label,dtype=np.int32)
print(data,"\n")
print("Attempts in the examination greater than 2:")
print(data[data['Attempts'] > 2])

        Name Score  Attempts Qualify
a  Anastasia  12.5         1     yes
b       Dima     9         3      no
c  Katherine  16.5         2     yes
d      James   NaN         3      no
e      Emily     9         2      no
f    Michael    20         3     yes
g    Matthew  14.5         1     yes
h      Laura   NaN         1      no
i      Kevin     8         2      no
j      Jonas    19         1     yes

Attempts in the examination greater than 2:
      Name Score  Attempts Qualify
b     Dima     9         3      no
d    James   NaN         3      no
f  Michael    20         3     yes